html{
	background-color: white;
}


h1{
	position: relative;
	text-align: center;
	color: #D9D9D9;
	font-size: 25px;
	margin: 5px;
	padding: 5px;
	font-family: Arial;
}

h2{
	position: relative;
	text-align: center;
	color: #FFA209;
	font-size: 75px;
	margin-top: 300px;
	padding: 5px;
	font-family: Arial;
}

h3{
	position: relative;
	text-align: center;
	color: #AAEAFF;
	font-size: 18px;
	margin: 5px;
	padding: 5px;
	font-family: Arial;
}

h4{
	position: relative;
	text-align: center;
	color: #FFA209;
	font-size: 75px;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 5px;
	font-family: Arial;
}

h5{
	position: relative;
	text-align: center;
	color: #AAEAFF;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 5px;
	font-family: Arial;
}

h6{
	position: relative;
	text-align: center;
	color: #AAEAFF;
	font-size: 25px;
	margin-top: 200px;
	margin-left: 20px;
	padding: 5px;
	font-family: Arial;
}

h7{
	position: relative;
	text-align: center;
	color: #FFA209;
	font-size: 50px;
	margin-top: 1000px;
	margin-bottom: 5px;
	padding: 5px;
	font-family: Arial;

}

.navbar{
	position: relative;
	text-align: left;
	color: #AAEAFF;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 5px;
	padding: 5px;
	font-family: Arial;
}

.iconButtons{
	display: flex;
	justify-content: right;
	align-items: center;
}

.navButtons{
	background-color: #FFC11D;
	border-color: #FF9618;
	border-radius: 5px;
	color: black;
	text-align: center;
	font-size: 15px;
	padding: 5px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.navButtons:hover{
	background-color: #FF6818;
	border-color: #FF4518 ;
}


.popup{
	position: relative;
	text-align: center;
}

.popup .popupContent{
	display: none;
	position: relative;
	bottom: 5%;
	left: 5%;
	right: 5%;
	background-color: lightgrey;
	padding: 5px;
	border-radius: 5px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.popup:hover .popupContent{
	display: block;
	text-align: center;
}














.logo{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgSize{
	width: 512px;
	height: 512px;
}

.homeButtons{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.button{
	background-color: #FFC11D;
	border-color: #FF9618;
	border-radius: 5px;
	color: black;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	margin: 20px;
	width: 400px;
	height: 60px;
	cursor: pointer;
}

.button:hover{
	background-color: #FF6818;
	border-color: #FF4518;
}

.gallery{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 15px;
}

.gallery_img{
	width: 100%;
	height: 100%;
}

.silhouttes{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 15px;
}

.silhouttes_img{
	width: 100%;
	height: 100%;
}

figcaption{
	font-style: italic;
	position: relative;
	text-align: right;
	color: #999999;
	font-size: 15px;
	margin: 2px;
	padding: 2px;
	font-family: Arial;

}

.pickers{
	position: relative;
	text-align: center;
}

.pickerButtons{
	background-color: none;
	border-color: #FF9618;
	border-radius: 5px;
	color: black;
	text-align: center;
	font-size: 15px;
	padding: 5px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.pickerButtons:hover{
	background-color: #FF6818;
}


.faces{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 15px;
	margin-bottom:150px;
}

.faces_img{
	width: 100%;
	height: 100%;
}

.finalLook{
	position: relative;
	display: flex;
	justify-content: left;
	align-items: left;
	margin-left: 50px;
}

.finalLookSize{
	width: 900px;
	height: 900px;
}

.form{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 15px;
	margin-bottom:150px;

}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #FFC11D;
	border-color: #FF9618;
	border-radius: 5px;
  color: black;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #FF6818;
	border-color: #FF4518 ;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


.share{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shareButton{
	background-color: #FFC11D;
	border-color: #FF9618;
	border-radius: 5px;
	color: black;
	text-align: center;
	font-size: 15px;
	padding: 5px;
	margin-left: 20px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.shareButton:hover{
	background-color: #FF6818;
	border-color: #FF4518 ;
}

.shareCheckbox{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.comingSoon{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}